.dashboard_sub_container {
    margin: 5% auto;
    width: 50%;
}

.order_title {
    background-color: lightslategray;
    padding: 20px;
    margin-bottom: 25px;
}

.order_container {
    margin: 20px;
    border: gold 1px solid;
    background-color: white;
    padding: 25px;
    display: flex;
    gap: 20px;
}

.order_item_icon {
    aspect-ratio: 1;
    max-width: 50px;
}

.btn_logout {
    color: white;
    background-color: #D61C4E;
    margin-left: 90%;
    cursor: pointer;
}