* {
    box-sizing: border-box;
    --white: #fff;
    --midBlue: #1890ff;
    --mdnBlue: #8cb4ff;

}
header.header_container, ul {
    display: flex;
    list-style-type: none;
    z-index: 10;
}

.header_container {
    position: fixed;
    width: 100vw;
    padding: 10px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}
.title {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    align-self: center;
}

nav {
    margin-left: auto;
}

.mobile_menu {
    display: none;
}


ul {
    margin: 0;
    font-size: 2.5rem;
    gap: 20px;
    padding-inline-start: 0;
}

ul > * {
    text-decoration: none;  
    line-height: 74px;
    padding: 10px;
    color: white;
    transition: all 1s;
}

ul > *:hover, ul > *:focus {
    border-bottom: var(--midBlue) 5px solid;
}

img.cart_icon {
    width: 32px;
    aspect-ratio: 1;
}

.cart {
    position: relative;
    min-width: 90px
}

.qty_icon{

    width: 30px;
    height: 30px;
    align-items: center;
    background-color: #1f7057;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin-top: -1rem;
    position: absolute;
    top: 20%;
    right: 20%;
}

.mini_cart {
    position: fixed;
    display: grid;
    grid-auto-rows: min-content;
    font-size: 1.2rem;
    color: black;
    opacity: 0;
    background-color: white;
    padding: 30px;
    line-height: normal;
    z-index: 10;
    top: 120px;
    right: -600px;
    transition: transform .5s ease-in-out, opacity .5s ease;
    width: 600px;
    border: solid 2px gold;
}

.mini_cart.open {
    opacity: 1;
    transform: translateX(-600px);
    overflow-y: scroll;
    height: calc(100vh - 120px);
}

.mini_cart_container {
    display: flex;
    background: #f5f5f5;
    margin: 10px 0;
    padding: 15px;
}

.minicart_item_img {
    width: 200px;
    aspect-ratio: 1;
    
}

.minicart_item_details > * {
    padding: 15px;
}

.minicart_item_title {
    font-size: 1.5rem;
}

/* PROFILE */

.profile_container {
    position: relative;
    height: 100px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.profile_pic {
    grid-row: 1/-1;
    margin-right: 10px;
}

div.profile_title, div.profile_subtitle {
    line-height: 20px;
    font-size: 1.2rem;
    justify-self: start;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 5px;
}

div.profile_title {
    color: lightgrey;
    align-self: end;
}
div.profile_subtitle {
    color: #fff;
    text-overflow: ellipsis;
    align-self: start;
}

div.credits_banner {
    position: absolute;
    top: 5px;
    left: 100px;
    color: black;
    background-color: gold;
    border: white 2px solid;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px;
    max-height: 50px;
    line-height: 0;
}

@media (max-width: 1000px) {

    .header_container {
        flex-direction: column;
    }

    .title {
        font-size: clamp(2rem, 3.5vw, 3rem);
    }

    ul {
        display: none;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
}