:root {
    --forestGreen: #1f7057;
    box-sizing: border-box;
    --white: #fff;
    --brightRed: #D61C4E;
    --midBlue: #1890ff;
    --mdnBlue: #8cb4ff;
    overflow: visible;
}



body {
    box-sizing: border-box;
}

/* Register Login */

.register_container {
    width: 50%;
    min-height: 500px;
    border: green 2px solid;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr) .5fr;
    place-items: center;
}

h1.registration, h1.login_banner {
    margin: 30px auto;
    text-align: center;
}

.register_container, .login_container > * {
    font-size: 1.2rem;
    font-weight: 900;
    padding: 15px;
}

div.registration, input.registration, input.login, button#login {
    width: 100%;
    padding: 15px;
}

input.registration, input.login {
    min-height: 30px;
    margin-top: 10px;
}

button#signup, button#login {
    grid-column: 1 / -1;
    background-color: var(--forestGreen);
    color: white;
    padding: 15px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: pointer;
}   

.login_container {
    position: relative;
}

form.login_container {
    width: 35%;
    min-height: 300px;
    margin: 20px auto;
    padding: 20px;
    border: #666666 2px solid;
}

.login_link, .register_link {
    text-align: center;
}


/* Register Login End  */



/* Cart */

button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

/* Cart End */