* {
    box-sizing: border-box;
}

aside.sidebar {
    border-right: var(--mdnBlue) 1px solid;
    padding: 10px;
}

.products_container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

div.rarity_fiter, form.filter_price_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.rarity_fiter {
    margin-bottom: 70px;
}

.filter_title {
    font-size: 2rem;
    margin: 15px;
}

div.filter_price_item {
    font-size: 1.5rem;
    margin: 0 25%;
}

input#price_filter {
    margin-right: 15px;
}


.items_container {
    width: 75vw;
    padding: 15px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 70px 30px;
}

.item_box {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

div.item_description {
    width: 320px;
}

/* .item_description:hover {
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
} */

img {
    width: 300px;
    aspect-ratio: 1;
}

.btn_addItem {
    cursor: pointer;
    margin-top: auto;
    width: 200px;
    height: 50px;
    border:var(--midBlue) 1px solid;
    border-radius: 10px;
}

.btn_addItem:hover {
    color: white;
    background-color: var(--forestGreen);
}

button.filter_selector, .reset_all_filter, .apply_filter {
    cursor: pointer;
}

button.filter_selector:hover {
    border-left: #1f7057 solid 3px;
}

div.price_filter_btn_container {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    gap: 15px;
}

button.reset_all_filter, .apply_filter {
    font-size: 1rem;
    color: white;
    background-color: var(--brightRed);
    border-radius: 5px;
    padding: 10px;
}

button.apply_filter {
    background-color: var(--midBlue);
}



.epic {
    background-color: gold;
}
.rare {
    background-color: purple;
}
.uncommon {
    background-color: green;
}
.gaminglegends {
    background-color: teal;
}

.epic, .rare, .uncommon, .gaminglegends {
    font-size: 1.5rem;
    color: white;
}